<!DOCTYPE html>
<html>
<body>
    <div >
        <center>
<strong style="color: red;">PLEASE LOGIN</strong><br><br>
  <button><a href="login">Login</a></button>
  <button><a href="register">Register</a></button></center>
</div>
</body>
</html>