<html>
<head>
	<link rel="stylesheet" type="text/css" href="project.css">
    <link rel="stylesheet" type="text/css" href="homecss.css">
</head>
<body>
<div >
	<div class="logoutp">
        <div style="display: flex;">
            <div class="logoutpimg">&#10004; Thank You!</div>
        </div>
         <button class="subbut" style="margin-left: 30px;"><a href="login">Login</a></button>
         <button class="subbut"><a href="signup">Register</a></button>
	</div>
</div>
 
</table>
<div class="footer">
    <p style="margin-left: 10px;">&#169; copyright 2021, E-car rental Network</p>
    <p style= "margin-left:67%; "> Terms and Conditions, Privacy policy</p>
  </div>
</body>
</html>